*{box-sizing:border-box}

body{
  margin:0;
  font-family:Segoe UI,Arial;
  background:#0f0f0f;
  color:#fff;
}

.header{
  background:#111;
  padding:16px;
  font-size:24px;
  text-align:center;
  position:sticky;
  top:0;
}

.customer{
  display:flex;
  gap:10px;
  padding:12px;
}
.customer input{
  flex:1;
  padding:12px;
  border-radius:14px;
  border:none;
  font-size:16px;
}

/* TABS */
.tabs{
  display:flex;
  overflow-x:auto;
  padding:10px;
}
.tab{
  background:#222;
  color:#aaa;
  border:none;
  padding:10px 18px;
  border-radius:20px;
  margin-right:10px;
  cursor:pointer;
  transition:0.3s;
}
.tab.active{
  background:#2ecc71;
  color:#000;
  transform:scale(1.08);
}

/* MENU */
.menu{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
  gap:14px;
  padding:14px;
}
.item{
  background:#1b1b1b;
  border-radius:16px;
  padding:10px;
  text-align:center;
  animation:fade 0.3s ease;
}
@keyframes fade{
  from{opacity:0;transform:translateY(10px)}
  to{opacity:1}
}
.item img{
  width:100%;
  border-radius:12px;
}
.qty{
  display:flex;
  justify-content:center;
  gap:10px;
}
.qty button{
  width:28px;
  height:28px;
  border-radius:50%;
  border:none;
  font-size:18px;
}

/* PAYMENT */
.payment{
  display:flex;
  justify-content:center;
  gap:16px;
  margin-top:10px;
}
.payment button{
  padding:12px 24px;
  border-radius:24px;
  border:none;
  background:#333;
  color:#fff;
  font-size:16px;
}
.payment button.active{
  background:#f39c12;
  color:#000;
}

/* TOTAL */
.total{
  text-align:center;
  font-size:20px;
  margin:16px;
}

/* ORDER */
.orderBtn{
  width:90%;
  margin:0 auto 24px;
  display:block;
  padding:14px;
  font-size:20px;
  border:none;
  border-radius:30px;
  background:#2ecc71;
  cursor:pointer;
}
